@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
}
:root{
    --cor0:#590B11;
    --cor1:#F23E2E;
    --cor2:#F25C5C;
    --cor3:#F2F2F2;
    --cor4:#0D0D0D;
    --font:'Roboto';
}

body{
    background-color: var(--cor3);
    box-sizing: border-box;
    font-family: var(--font),Arial, Helvetica, sans-serif;
}
header{
    background-image:linear-gradient(to bottom,var(--cor1),var(--cor2));
    position: relative;
    height: 80px;
}
header div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
#menu ul{
    background-color: var(--cor1);
    list-style: none;
    padding:0px;
    margin:0px;
    font-size:1.2rem;
    width: 100%;
    float:left;
}
#menu ul li{display:inline-block}
#menu ul li a{
    text-decoration: none;
    color:var(--cor4);
    padding:4px 10px;
    float: left;
}
#menu ul li a:hover{
    border-bottom:5px solid var(--cor0);
    color:var(--cor3);
    
}
main{
    width:1000px;
    padding:15px;
    margin:auto;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 2rem;
}
main img{
    width: 100%;
}
  div{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.paralax1{
background-image: url('../img/alexander-rotker-l8p1aWZqHvE-unsplash.jpg');
height: 600px;
}

.palaralx2{
    background-image: url('../img/revolt-164_6wVEHfI-unsplash.jpg');
    height: 450px;
}
.parallax3{
    background-image: url('../img/regis-hari-bouchard-ZjViL8qxihM-unsplash.jpg');
    height: 400px;
}
.img1{
    width: 60%;
}
img,p{
    
    float: left;
}
footer{
    background-color: var(--cor2);
    margin-top: 250px;
    height: 90px;
}
@media screen and (min-device-width:300px) {
    body{
        background-color: var(--cor3);
        width: 100%;
    }
    main{
        width: 80%;
    }
    footer{
        margin-top: 450px;
        padding: 15px;
        width: 100%;
    }
}